<!DOCTYPE html>
<html>
  <head>
    <title>Forogren</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="navs-div">
    <%= link_to "Anasayfa", homes_path, class: "navs-link" %>
    <%= link_to "Ürünler", products_path, class: "navs-link" %>
    <%= link_to "Kategoriler", categories_path, class: "navs-link" %>
  </div>
    <hr>

    <%= yield %>
  </body>
</html>
